<article class="row justify-content-center align-items-center" itemid="articles for work">
    <div class="col-md-6 col-sm-12 mb-3">
        <h3>Web Designs</h3>
        <p class="lead">
            Websites need to be suitable for all devices and screen sizes. In fact, every platform or developer always test it to make sure that it happens. 
            But just having it fit all screens isn't always enough, the content on the page has to flow naturally and in order. Not every pre-made tempted will
            offer what you are looking for. We can build one to accomplish what your business needs and take care of all your needs in place. Whether you are coming 
            from an existing service, or have not found one yet, let us help.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <img src="/assets/devices-image.png" 
            class="img-fluid" 
            alt="Content Title" 
        />
    </div>
</article>
<aside class="row my-5 py-5">
    <div class="col-md-5 mb-3">
        <p class="display-2 fw-bold">Why Choose Us?</p>
    </div>
    <div class="col-md-7 mb-3">
        <p class="tetx-muted">
            If you have tried a platform and became frustrated with a service that didn't offer what they had promised?
            If you are shopping around for a web designer to build your site, then give us a call first and save yourself some time.
            Don't waste valuable time and money in pits when you can get a better quality site for less.
        </p>
    </div>
</aside>
