<!-- Footer -->
<footer class="text-center text-white text-lg-start bg-grey-black text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 text-white d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <a href="" class="me-4 text-reset">
        <i class="fab text-white fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab text-white fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab text-white fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab text-white fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab text-white fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab text-white fa-github"></i>
        </a>
    </div>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase text-white fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Web Express I.T. Agency
            </h6>
            <p class="text-white">
            A web design and security agency that build, deploys, secures their domains from hackers and other threats.
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <p class="h6 text-uppercase text-white fw-bold mb-4">
            Link
            </p>
            <p>
            <a href="/blogs" class="text-white">Articles</a>
            </p>
            <p>
            <a href="/features" class="text-white">Features</a>
            </p>
            <p>
            <a href="/projects" class="text-white">Projects</a>
            </p>
            <p>
            <a href="mailto:stephenbrooks714@gmail.com" class="text-white">Support</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <p class="h6 text-uppercase text-white fw-bold mb-4">
            Useful links
            </p>
            <p>
                <a href="/" class="text-white">Home</a>
                </p>
                <p>
                <a href="/contact" class="text-white">Contact</a>
                </p>
                <% if(loggedIn) { %>
                    <p>
                        <a href="/logout" class="text-white">Logout</a>
                    </p>
                    <p>
                        <a href="/" class="text-white">Profile</a>
                    </p>
                <% } else { %>
                    <p>
                        <a href="/login" class="text-white">Login</a>
                    </p>
                <% } %>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-white col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <p class="h6 text-uppercase text-white fw-bold mb-4">Contact</p>
            <p><i class="fas fa-home me-3"></i> Lawton, Oklahoma, US</p>
            <p>
            <i class="fas fa-envelope me-3"></i>
            stephenbrooks714@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>508 309 0236</p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2018 - 2023 Copyright:
    <a class="text-reset fw-bold text-white" href="/">WebExpressI.T.Agency</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
